
:root{
    --trigo: #ecdcc1;
    --salmao: #f09c95;

    --rosaforte: #eb6383;
    --rosaclaro: #fa9191;
    --bege: #ffe9c5;
    --turquesa: #b4f2e1;

}


body{
    background-color: var(--rosaclaro);
    font-family: 'Indie Flower', cursive;
   
}

.container{
    padding-left: 6%;
    padding-right: 6%;
   
}

.botao{
    text-align: center;
    display:block;
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 3px solid var(--salmao);
    border-radius: 5px;
}