.contato {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;

    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;

    color: white;
    background-color: gray;
}

.contato__titulo {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.contato__artigo {
    font-size: 1.2rem;
    line-height: 1.8;

    margin-top: 2rem;
}


.contato__contato-telefone {
    line-height: normal;
}

.contato__contato-email {
    color: var(--fonte-link);
    text-decoration: underline;
    display: block;
}

.contato__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contato__midia {
    display: block;

    width: 42px;
    height: 42px;

    margin: 2rem 1rem;
}


.contato__trigo {
   display: none;
   height: 194px;
   width: 150px;
}

@media screen and (min-width: 640px) {
    .contato__trigo{
        display: block;
    }
}

@media screen and (min-width: 768px) {

    .contato__contato-email {
        display:inline-block;
    }
}

@media screen and (min-width: 1024px) {

    .contato__contato-email {
        display: block;
    }
}

