.localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: var(--salmao);
    color: white;
}

.localizacao__titulo {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.localizacao__descricao {
    margin-bottom: 2rem;
}

.localizacao__endereco {
    font-size: 1.5rem;
    line-height: normal;

    margin-bottom: 2rem;
}


.localizacao__video {
    width: 100vw;
}

@media screen and (min-width: 768px) {
    .localizacao__video {
        max-width:100%;
    }
}

@media screen and (min-width: 1024px) {
    .localizacao__conteudo {
        width: 100%;

        display: flex;
        justify-content: space-between;

        text-align: left;
    }

    .localizacao__video {
        align-self: flex-end;

        width: 375px;
    }
}