.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2.5rem;
    padding-bottom: 2rem;


    background-color: var(--rosaclaro);

}


.rodape__navegacao {
    color: black;
    text-align: center;
    font-weight: 900;
}


.rodape__link {
    display: inline-block;

    margin: 0 .5rem .7rem;
}

@media screen and (min-width: 1024px) {
    .rodape {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    .rodape__navegacao {
        text-align: left;

        min-width: 600px;
    }
}